.cotizacion-form-container {
    max-width: 500px;
    margin: 50px auto; 
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.from-text {
    margin-bottom: 40px;
}

.cotizacion-title {
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}

.cotizacion-subtitle {
    text-align: center;
    color: #5a5a5a;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 12px;
    font-weight: bold;
    color: #555;
}

.form-select,
.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; 
    font-size: 16px;
}

.button-container {
    display: flex;
    gap: 20px; 
    margin-top: 20px; 
}
.cotizacion-button {
    width: 100%;
    padding: 12px;
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cotizacion-button:hover {
    background-color: #0056b3; /* Tono más oscuro al pasar el mouse */
}

.reset-button {
    width: 100%;
    padding: 12px;
    background-color: #007bff; /* Color azul primario */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reset-button:hover {
    background-color: #0056b3; /* Tono más oscuro al pasar el mouse */
}

.resultado-cotizacion {
    text-align: center;
    margin: 10px auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #333;
}

.cotizacion-save-button {
    font-size: 28px; 
}

