.header {
    color: #ffffff; 
    padding: 20px 30px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.header-brand h1 {
    margin: 0;
    font-size: 1.5em;
}

.brand-link {
    color: inherit; 
    text-decoration: none; 
    font-size: 40px;
}

.header-page-title {
    margin: 0;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    
}

.nav-list {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex; 
    gap: 20px; 
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
    font-size: 40px;
}

.nav-link:hover {
    color: #FFC107; 
}