@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    color-scheme: light dark;
    font-family:'Roboto', Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    background-color: #003366;

}